<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        [v-cloak] {
        display: none;}

        .active {
            background-color: #ccc;
        }
    }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>

    <div id="app">
        <!-- <input type="text" v-on="{input:handleChange, focus:handleChange}"> -->
        <!-- <input type="text" v-on:input="handleChange"> -->
        <input type="text" @input="handleChange">
        <button @click="titleChange('one')">change</button>
        <button @click="titleChange('two')">change</button>
        <h2>interpol - {{ title }}</h2>
        <h2 v-pre>pre - {{ title }}</h2>
        <h2 v-text="title"></h2>
        <h2 v-text="title" v-once></h2>
        <!-- <a v-bind:href="href">{{ href }}</a> -->
        <a :href="href">{{ href }}</a>
        <h2>---- {{ link }}</h2>
        <h2 v-html="link">++++</h2>
        <!-- 8 -->
        <button @click="titleChange8('one', $event)">change</button>
        <button @click="titleChange8('two', $event)">change</button>
        <h2>{{ example8.title }} координата - {{example8.coordX}}</h2>

    </div>

    <!-- 9 -->
    <div id="app9">
        <div class="outer" @click="handleOuter"> Outer
            <!-- <div class="outer" @click.self="handleOuter"> Outer -->
            <!-- <div class="outer" @click.capture="handleOuter"> Outer -->

            <div class="inner" @click="handleInner">Inner</div>
            <!-- <div class="inner" @click.stop="handleInner">Inner</div> -->
            <!-- <div class="inner" @click.once="handleInner">Inner</div> -->

            <a href="">link</a>
            <!-- <a href="" @click.prevent>link</a> -->
            <!-- <a href=""  @click.left="handleClick">link</a> -->
            <!-- <a href=""  @click.right="handleClick">link</a> -->
            <!-- <a href=""  @click.middle="handleClick">link</a> -->

            <input type="text" @keydown="handleKey">

        </div>
    </div>


    <!-- 10 -->
    <hr>
    <div id="app10">
        <div>{{title}}</div>
        <div>{{3 > 2}}</div>
        <div>{{title.length}}</div>
        <div>{{title.split('').reverse().join('')}}</div>
        <div>{{reverseTitle(title)}}</div>
        <div>правильно - {{reversedTitle}}</div>
        <div>{{title}}</div>
        <button @click="setupTitle">setupTitle</button>

    </div>
    <hr>



    <!-- 11 -->
    <div id="app11">
        <div>{{title}}</div>
        <div>{{status}}</div>
        <button @click="setupTitle">setupTitle</button>

    </div>
    <hr>



    <!-- 12 -->
    <div id="app12">
        <!-- <div :class="changed ? 'active' : ''">{{title}}</div> -->
        <!-- <div class="static" :class="{active:changed}">{{title}}</div> -->
        <!-- <div class="static" :class="['activeClass', 'errorClass']">{{title}}</div> -->
        <div class="static" :class="[{active:changed}, 'errorClass']">{{title}}</div>
        <button @click="setupTitle">вывести</button>

    </div>
    <hr>



    <!-- 13 -->
    <div id="app13">
        <!-- <div :style="stylessss">{{title}}</div> -->
        <div :style="{color:fontNewColor, fontSize:fontNewSize}">{{title}}</div>
    </div>
    <hr>



    <!-- 14 -->
    <div id="app14">
        <div v-if="show">Заголовок</div>
        <!-- <div v-show="show">Заголовок</div> -->
        <div v-else>fffffffffffff</div>
        <button @click="change">изменить</button>
    </div>



    <hr>



    <!-- 15 -->
    <div id="app15">
        <ul>
            <!-- <li v-for="elem in arr">{{elem}}</li> -->
            <!-- <li v-for="(elem, index) in arr">{{index}}</li> -->

            <!-- <li v-for="value in obj">{{elem}}</li> -->
            <!-- <li v-for="(value, key) in obj">{{value}} -> {{key}}</li> -->

            <!-- <li v-for="member in arrObj">{{member.name}} -> {{member.sal}}</li> -->

            <!-- <li 
                    v-for="member in arrObj"
                    @click="handle"
                    v-if="member.sal === 200"
               
               >{{member.name}}</li> -->

            <li v-for="i in 5">{{i}}</li>
        </ul>
    </div>



    <hr>



    <!-- 16 -->
    <div id="app16">
        <div>{{title}}</div>
    </div>
    <hr>



    <!-- 17 -->
    <div id="app17">
        <hello> </hello>
        <hello></hello>
    </div>


    <!-- 18 -->
    <div id="app18">
        <hello18> </hello18>
        <hello18></hello18>
    </div>

    <script type="text/x-template" id="hello18">
    <div>
        <test></test>
       <h3 @click="handle"><i>{{title}}</i></h3>

    </div>
</script>

    <!-- 19 -->
    <div id="app19">
        <hello19> </hello19>
    </div>

    <script type="text/x-template" id="hello19">
            <div>
                
               <h3 @click="handle"><i>{{title}}</i></h3>
        <test></test>
            </div>
</script>




    <script src="main.js"></script>
</body>

</html>